footer{
    margin-top: 350px;
}
.container{
    background-color: rgba(255, 255, 255, 0.884);
    padding: 40px;
    margin-top: 50px;
}
div img{
    height: 600px;
    width: 800px;

}
hr{
    border: #6fa17c dashed px;
    
}
section{
    border: 6px solid white;
    padding: 30px;
    border-radius: 25px;
    background-color: #ffe993;
    font-size: 20px ;
    font-weight: bold;
}
section h3{
    font-size: 50px;
    font-weight: bold;
    border-bottom: black 2px dashed;
    margin-bottom: 30px;

}
section h3::before{
    content: url(../img/titlecut.png);
}
#h3pic{
    font-size: 60px ;
    margin: 10px 0 30px;
    text-shadow: 2px 2px 4px ;
    border-bottom: rgb(110, 107, 107) dashed 2px;
}
#h3pic::before{
    content: url(../img/titlecut.png);
}

#carouselExampleIndicators {
    height: 615px;
    border: #ffe993 solid 10px;
    border-radius: 15px;
}

.w3-animate-left {
    animation-duration: 1s;
}

/* rwd */
@media screen and (max-width: 768px) {
    #h3pic{
        font-size: 45px;
    }
    section h3{
        font-size: 30px;
    }
}


