footer {
    margin-top: 350px;
}
header {
    margin: 4em;
}
#bannerimg {
    margin-top: 10px;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
article p{
    font-size: 30px;
}
section{
    background-color: white;
    margin-bottom: 100px;
    padding: 50px;
}
.sectionimg{
    width: 100%; 
    height: 100%;
}
.container {
    animation-duration: 10s;

}
.btn {
    margin: 0 1em ; 
    font-size: 30px;
    font-weight: bold;
}
.btns{
    display: flex;
    justify-content: center;
    margin: 4em 0 0;
}
html {
    scroll-behavior: smooth;
}

/* scroll */
.goheadButtonimg {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
    animation: shine 5s ease-in-out infinite;
}

@keyframes shine {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }
}

#gotop {
    display: none;
    z-index: 99;
    cursor: pointer;
}
/* rwd */
@media  screen and (max-width: 1200px) {
    .goUp{
        display: none;
    }

}
@media  screen and (max-width: 992px) {
    .goUp{
        display: none;
    }

}
@media  screen and (max-width: 768px) {
    .goUp{
        display: none;
    }

}
@media  screen and (max-width: 576px) {
    .goUp{
        display: none;
    }

}